<!DOCTYPE html>
<html>
		<header>

			<title>Seed Application</title>

		<link rel="stylesheet" type="text/css" href="/css/seedStyle.css">
		<!-- <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css"> -->
		<!-- // <script src="/bower_components/jquery/dist/jquery.min.js"></script> -->
		 <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
		<script type="text/javascript" src="/js/seedCustomStyle.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
		  
		</head>

			<body class="bg">
				<div class="row">
		 <nav >
		    <ul>
		      <li><a href="/">Home</a></li>
		      <li><a href="#">About</a></li>
		      <li><a href="#" class="logo">
        <img src="https://lh3.googleusercontent.com/-XwlxhaHhNz8/VhkuE3kKEsI/AAAAAAAAAK0/H2ZCthdpWuU/w140-h140-p/IMG_0446.JPG">
		      </a></li>
		      <li><a href="/issues">Developmnet</a></li>
		      <li><a href="#">Contact</a></li>
		    </ul>
		  </nav>
		  	</div>
			{{{body}}}
			</body>
					

	<footer >
	
	</footer>
</html>