<!--DOCTYPE html-->
<html>
		<header>

			<title>Seed Application</title>
	
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/seedStyle.css">
<link rel="stylesheet" type="text/css" href="/css/geek.css">
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script> 
<script type="text/javascript" src="/js/seedCustomStyle.js"></script>

		</head>
<body background= "/img/grid_DominikKiss_SubtlePatterns.jpg" style="backround-repeat">
	
	<nav>
	  <ul>
	    <li><a href="/">Home</a></li>
	    <li><a href="https://github.com/Oyamasiphula?tab=repositories">Projects</a></li>
	      <li>
      <a href="#"><img src="/img/js-javascript-monitor-pc-page-web-dynamic-128.png"></a>
		  </li>
	    <li><a href="/issues">issues</a></li>
	    <li><a href="#">Contact</a></li>
	  </ul>
	</nav>

		{{{body}}}
</body>
					

	<footer >
	
	</footer>
</html>