<!DOCTYPE html>
<html>
		<header>

			<title>Seed Application</title>

	<link rel="stylesheet" type="text/css" href="/css/seedStyle.css">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="/js/seedCustomStyle.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/bower_components/Materialize/dist/js/materialize.min.js"></script>
		</head>
			<body background= "/img/grid_DominikKiss_SubtlePatterns.jpg" style="backround-repeat">
<!-- <div class="container"> -->
 <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://github.com/Oyamasiphula?tab=repositories">Projects</a></li>
      <li><a href="#">
        <img src="https://lh3.googleusercontent.com/-XwlxhaHhNz8/VhkuE3kKEsI/AAAAAAAAAK0/H2ZCthdpWuU/w140-h140-p/IMG_0446.JPG">
		      </a></li>
    <li><a href="/issues">issues</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<!-- </div> -->
			{{{body}}}
			</body>
					

	<footer >
	
	</footer>
</html>