<body>
<div class="container">
  <div class="items">
<div class="row">
  <div class="hexagon">
    <div class="hexa-container">
      <div class="hexa-header">
        <h3>XBMC</h3>
      </div>
      <div class="hexa-content">
      	<p>Commandes vocales pour XBMC <br>(Frodo et Gotham)</p>
      </div>
      <div class="hexa-meta"></div>
    </div>
  </div>
	<div class="hexagon">
		
	</div>
</div>
<div class="row">
	<div class="hexagon"><span></span></div>
	<div class="hexagon secondary">
		<div class="hexa-container">
      <div class="hexa-header">
        <h3>nodeJS</h3>
      </div>
      <div class="hexa-content">
      	<p>Le coeur de l'agent est un serveur HTTP qui reçoit…</p>
      </div>
      <div class="hexa-meta"></div>
    </div>
	</div>
  <div class="hexagon"><span></span></div>
</div>
<div class="row">
	<div class="hexagon"><span></span></div>
	<div class="hexagon"><span></span></div>

</div>
    </div>
</div>
</body>