<div class="row">
    <table class="table-2" id="reqIssuesOutPut">
  <thead>
    <th>Category Specification</th>
    <th>description</th>
    <th>error_message</th>
    <th>Solution</th>
  </thead>
  <tbody>
    {{#results}}
    <tr>
      <td>{{categorise_issue}}</td>
      <td>{{description}}</td>
      <td>{{error_message}}</td>
      <td>{{Solution}}</td>
    </tr>
     {{/results}}
  </tbody>
</table>
</div>