<div class="container">
  <!-- Description -->
  <h1 class="description">
    Developement KiT</br>
  Take care of all the errors and learn from them
  </h1>    

  <div class="row">
   <!-- Table demo -->
<div class="box-table">
<table data-fn="contacts">
  <tr class="info">
        <th>Category Specification</th>
        <th>description</th>
        <th>Solution</th>
  </tr>
{{#results}}
  <tr>
    
        <td>{{Category_Specification}}</td>
        <td>{{description}}</td>
        <td>{{Solution}}</td>
  </tr>
        {{/results}}
</table>    
</div>
  
<form  action="/issues" method="POST">
<legend><strong>Log new problem</strong></legend>
    <input name="Category_Specification" placeholder="What is the main problem?" class="Category_Specification" required />

    <input name="description" placeholder="description of encountered problem?" class="description" type="description" required />

    <textarea rows="5" cols="50" name="subject" placeholder="Please put your resolution here" class="message" required></textarea>
    <input name="submit" class="btn" type="submit" value="Send" />
</form>



